body {
    font-family:"Source Sans Pro",sans-serif;
    margin: 0;
    background-color:white ;
    
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family:'Fjalla One',sans-serif
}

h1{
    font-size: 40px;
    line-height:1.7em;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;

}

h2{
    color: #e8b43a;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}
.contacto h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: orange;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 60px;
    
}
.proyectos-subtitle{
    font-size: 25px;
    color:orange;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
}

.retos-subtitle{
    font-size: 30;
    text-decoration: none;
    margin: 0;

}

.principal-text{
    text-align: center;
    border-bottom: black;
    border-width:4px ;
    border-bottom-style: double ;
    padding-bottom: 50px;
}

.image-container{
    width: 500px;
    margin:20px 30px;
}

.header-container {
    width: 120px;
    margin:0;
    margin-left: 10px;
    padding: 10px;
    display: flex;    /*esto esta alpedo */
}

.header {

    background-color:#2A2A2A;
    height: 45px;
    display: flex;
    justify-content: start;    
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    height: inherit;
}

.header ol {
 display: flex;
 height: inherit;
}             

.header ol li {
    height: inherit;
}

.header a {    
    color:white;
    height: inherit;
    display: flex;
    align-items: center; 
    padding: 0 20px;
    text-decoration: none;
}

.hero {/*
    background-image: url('../images/python.jpg');
    background-size: 800px 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    */
    background-color: #2a2a2a;
    display: flex;
    margin:0;
    margin-bottom: 100px;
}
.project{
    background: #fafafa;
    border-color:gray;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 15px;
    margin-bottom: 15px; 
    display:flex;
    justify-content: center;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
  }

.class #tumblr{
    background-position-x:left;
}
strong{
    color:#e8b43a;
    font-weight: bold;
}
footer{
    background-color:#2A2A2A;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
    margin:0
}
footer img{
    vertical-align: middle;
    margin-left: 12px;
}
footer div{
    margin:12px;
}


.project-course {
  margin: 0px;
}

.project-description {
  font-size: 20px;
}
.portafolio h3{
    color:orange;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 6px;
}
.project img{
    border-radius: 15px;
    margin:0
}
.event-url{
    color:#056FFF;
    font-weight: bold;
    border: 1px solid;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 5px;

    
}
.retos a{
    color:blue;
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
    display: flex;
    margin-bottom: 20px;
    
    
}
.retos-title{
    margin-bottom: 20px;
    margin-top: 20px;
}





.portafolio h2{
    margin-top:60px;
}
.wrapped{
    width: 1150px;
    margin:0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    background-color: white;
    border-radius: 10px;
}

.hero-image{
    display: inline-block;
    width: 690.5px;
    object-fit: cover;
}


    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* color: blue; */
    /* border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    /* border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* margin: 10px; */
    /* margin-right
    margin-left 
    margin-top */
 
  
.project-details{
    width: 500px;
    margin: 0;
    padding: 30px;
}

.facil{
    color:green;
}
.intermedio{
    color:orange;
}
.dificil{
    color:red;
}

.event-list{
    display: flex;
    
}
.event{
    border: solid #1ba94c;
    margin:10px;
    width: 480px;
    background-color: #f4fbff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 90px;
}
.event-image {
    width:100px;
    
}
.event-detail{
    margin: 20px;
    background-color:white; /*div*/
    border-radius: 10px;
    margin-top: -40px;
    font-weight: 1px;
    padding:20px;
}
.event-url{
    border-color: white;
    color:white;
    background-color:#1ba94c; 
    border: 10px white;
}

.contact{
    background-color: #1ba94c;
    height: 150px;
    margin-top: 80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.social{

}

.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    
}

.social-link.github{
    background-image: url('../images/github.svg');
    background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url('../images/instagram.svg');
    background-size: 50px 50px;
     
}

.form-email input {
    display: inline-block;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
  }

  .form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
  }
  
  .form-email h3 { 
    font-family: 'Source Sans Pro', sans-serif;
  }
  .creamos{
      margin:1px;
      color: white;
  }
  /*
  .container {
    /* border: 1px solid red; */
    /*
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }   */

  .wrapped2{
      background-color: black;
  }

  .wrapped-header{
    width: 1150px;
    margin:0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
  }
  .wrapped-text{
    width: 1150px;
    margin:0 auto;
    background-color: white;
  }